._centerBox {
  display: block;
  float: none !important;
  margin-left: auto;
  margin-right: auto; }

._cf:after {
  clear: both;
  display: table;
  content: ""; }

._inline {
  display: inline; }

._inlineBlock {
  display: inline-block;
  max-width: 100%; }

._block {
  display: block; }

._table {
  display: table; }

._tableCell {
  display: table-cell; }

._pull {
  float: left; }

._push {
  float: right; }

._clipContent {
  overflow: hidden; }
