/* ----------------------------------------------------------------------------
   Links : compile from scss/_links.scss
   ------------------------------------------------------------------------- */
._linkPlain,
._linkPlain:hover
._linkPlain:focus
._linkPlain:active {
  text-decoration: none !important;
}

._linkPlain:hover ._linkPlain-decor,
._linkPlain:focus ._linkPlain-decor,
._linkPlain:active ._linkPlain-decor {
  text-decoration: underline !important;
}
