._listInline, ._listNoStyle {
  padding: 0;
  list-style: none; }

._listInline {
  margin: 0;
  font-size: 0; }

._listInline > li {
  display: inline-block;
  max-width: 100%;
  padding-left: 0.375em;
  padding-right: 0.375em;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top; }
