/* ----------------------------------------------------------------------------
   Text helpers
   ------------------------------------------------------------------------- */
/**
 * Adjust the textual structure of a element.
 *
 * Textual helpers typically address a 'Typographical Property':
 *  `color`
 *  `direction`
 *  `font`
 *  `font-family`
 *  `font-size`
 *  `font-style`
 *  `font-variant`
 *  `font-weight`
 *  `letter-spacing`
 *  `text-align`
 *  `text-decoration`
 *  `text-indent`
 *  `text-shadow`
 *  `text-transform`
 *  `vertical-align`
 *  `white-space`
 *  `word-spacing`
 *
 * @require functions/_rem.scss
 * @require mixins/_color-variant.scss
 * @require mixins/_text-ellipsis.scss
 *
 */
/**
 * Adjust text horizontally.
 */
._textLeft {
  text-align: left !important;
}

._textCenter {
  text-align: center !important;
}

._textRight {
  text-align: right !important;
}

._textJustify {
  text-align: justify !important;
}

/**
 * Ajust text vertically.
 */
._textTop {
  vertical-align: top !important;
}

._textMiddle {
  vertical-align: middle !important;
}

._textBottom {
  vertical-align: bottom !important;
}

._textBaseline {
  vertical-align: baseline !important;
}

/**
 * Text Ellipsis
 *
 * Add an ellipsis '...' to text that is prevented from wrapping onto
 * multiple lines.
 */
._textEllipsis {
  display: block !important;
  overflow: hidden !important;
  max-width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

/**
 * Word breaking
 *
 * Unbreakable words may be broken and wrap to next line.
 */
._textBreak {
  word-wrap: break-word !important;
}

/**
 * Inherit parents text color.
 */
._textInheritColor {
  color: inherit !important;
}

/**
 * Sizing treatments.
 *
 * Limit the amount of font-size delcarations.
 *
 * @resource:
 * github.com/stubbornella/csslint/wiki/Don't-use-too-many-font-size-declarations
 *
 * 1. pixel fallback for IE.
 */
._textSmall {
  font-size: 10px !important;
  /* 1 */
  font-size: 0.625rem !important;
}

._textMedium {
  font-size: 13px !important;
  /* 1 */
  font-size: 0.8125rem !important;
}

._textLarge {
  font-size: 20px !important;
  /* 1 */
  font-size: 1.25rem !important;
}

/**
 * Transform treamtemnt.
 */
._textJustify {
  text-transform: justify !important;
}

._textUpcase {
  text-transform: uppercase !important;
}

._textLowcase {
  text-transform: lowercase !important;
}

._textCapitalize {
  text-transform: capitalize !important;
}

/**
 * Collapse whitespace and suppress line breaks.
 */
._textNoWrap {
  white-space: nowrap !important;
}
