._txtLeft {
  text-align: left; }

._txtCenter {
  text-align: center; }

._txtRight {
  text-align: right; }

._txtJustify {
  text-align: justify; }

._txtTop {
  vertical-align: top; }

._txtMiddle {
  vertical-align: middle; }

._txtBottom {
  vertical-align: bottom; }

._txtBaseline {
  vertical-align: baseline; }

._txtEllipsis {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

._txtGuide {
  color: #1ba1e2; }

a._txtGuide:hover {
  color: #11597a; }

._txtNeutral {
  color: #999; }

a._txtNeutral:hover {
  color: #555; }

._txtDanger {
  color: #e51400; }

a._txtDanger:hover {
  color: #720a01; }

._txtSuccess {
  color: #60a917; }

a._txtSuccess:hover {
  color: #37600e; }

._txtWarning {
  color: #fa6800; }

a._txtWarning:hover {
  color: #a54403; }

._txtBreak {
  word-wrap: break-word; }

._txtSmall {
  font-size: 75%; }

._txtMedium {
  font-size: 85%; }

._txtLarge {
  font-size: 150%; }

._txtUpcase {
  text-transform: uppercase; }

._txtVisuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  border: 0;
  height: 1px;
  padding: 0;
  width: 1px; }

._txtNoWrap {
  white-space: nowrap; }
