// ----------------------------------------------------------------------------
// Setttings
// ----------------------------------------------------------------------------

// Dependencies

@import 'functions/functions';

// Colors
// ----------------------------------------------------------------------------

// Theme colors
$theme-danger:   #e74c3c !default;
$theme-guide:    #3498db !default;
$theme-success:  #2ecc71 !default;
$theme-warning:  #fac75b !default;

// Typography
// ----------------------------------------------------------------------------

$type-font-size:   16px !default;
$type-line-height: $type-font-size * 1.5 !default;

// Scaffolding
// ----------------------------------------------------------------------------

$base-spacing:        $type-line-height !default;
$base-spacing-small:  $base-spacing / 4 !default;
$base-spacing-medium: $base-spacing / 2 !default;

// Text
// ----------------------------------------------------------------------------

// Text importance
$txt-colors: (
  _txtDanger:  $theme-danger,
  _txtGuide:   $theme-guide,
  _txtSuccess: $theme-success,
  _txtWarning: $theme-warning
) !default;

// Sizing variables
$txt-small:  floor( _ms( $type-font-size, -2, 1.25 ) ) !default; // 10px
$txt-medium: ceil( _ms( $type-font-size, -1, 1.25 ) ) !default; // 13px
$txt-large:  _ms( $type-font-size, 1, 1.25 ) !default; // 20px

// Skins
// ----------------------------------------------------------------------------

$backgrounds: (
  _bgDanger:  $theme-danger,
  _bgGuide:   $theme-guide,
  _bgSuccess: $theme-success,
  _bgWarning: $theme-warning
);
