// -----------------------------------------------------------------------------
// Setttings
// -----------------------------------------------------------------------------

// Variables namespaced with an `_` to avoid naming collisions with personal
// application/site.

// Colors
// -----------------------------------------------------------------------------

// Grays
$_gray-darker:           #222 !default;
$_gray-dark:             #333 !default;
$_gray:                  #555 !default;
$_gray-light:            #999 !default;
$_gray-lighter:          #eee !default;

// Theme colors
$_theme-danger:          #e74c3c !default;
$_theme-guide:           #3498db !default;
$_theme-success:         #2ecc71 !default;
$_theme-warning:         #fac75b !default;

// Typography
// -----------------------------------------------------------------------------

$_type-font-family: "Helvetica Neue", Helvetica, sans-serif !default;
$_type-font-size:   16px !default;
$_type-line-height: 1.5em !default;

// Scaffolding
// -----------------------------------------------------------------------------

$_base-spacing: $_type-line-height !default;
$_base-padding: $_type-line-height / 2 !default;


