// ----------------------------------------------------------------------------
// Setttings
// ----------------------------------------------------------------------------

// Dependencies

@import 'functions/functions';

// Typography
// ----------------------------------------------------------------------------

$type-font-size:   16px !default;
$type-line-height: $type-font-size * 1.5 !default;

// Scaffolding
// ----------------------------------------------------------------------------

$base-spacing:        $type-line-height !default;
$base-spacing-small:  $base-spacing / 4 !default;
$base-spacing-medium: $base-spacing / 2 !default;

// Text
// ----------------------------------------------------------------------------

// Sizing variables
$txt-small:  floor( _ms( $type-font-size, -2, 1.25 ) ) !default; // 10px
$txt-medium: ceil( _ms( $type-font-size, -1, 1.25 ) ) !default; // 13px
$txt-large:  _ms( $type-font-size, 1, 1.25 ) !default; // 20px
