// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

// Adjust the presentation and layout of list elements (i.e. `ul`, `ol`, `li`).

// Strip all styles from a list element.

// 1. Reset browser defaults.

._listInline,
._listNoStyle {
  padding: 0; // 1

  list-style: none;
}

// Inline list.
// Ajust `li` of a list element to align horizontally.

// 1. Reset browser defaults.
// 2. Remove whitespace b/w `inline-block` elements.
// 3. Align `li` horizontally to sibling `li`.
// 4. Address FF issue with child images with a declaration of `max-width: 100%;`
// 5. Pixel fallback for IE 8 to reset font-size.
// 6. Reset `font-size` relative to body.
// 7. Provide consitent vertical alignment for `li` elements.

._listInline {
  margin: 0; // 1

  font-size: 0; // 2
}

._listInline > li {
  display: inline-block; // 3

  max-width: 100%; // 4
  padding-left: $_base-padding / 2;
  padding-right: $_base-padding / 2;

  font-size: 16px; // 5
  font-size: 1rem; // 6
  vertical-align: top; // 7
}
