// -----------------------------------------------------------------------------
//  Skins
// -----------------------------------------------------------------------------

// Skinnable helpers for adjusting HTML elements visually.

// Background Emphasis.

$backgrounds: (
  _bgDanger: $_theme-danger,
  _bgGuide: $_theme-guide,
  _bgSuccess: $_theme-success,
  _bgWarning: $_theme-warning
);

@each $background in $backgrounds {
  $selector: nth($background, 1);
  $bg-color: nth($background, 2);

  .#{$selector}  { background-color: $bg-color; }
  a.#{$selector} { background-color: darken($bg-color, 10%); }
}
