// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

// Adjust the whitespace and padding around an element.

// Legend:
// _<type><direction><size>

// Type:
// m = margin
// p = padding

// Direction:
// a = all
// b = bottom
// h = horizontal
// l = left
// r = right
// t = top
// v = vertical

// Size:
// l = large
// m = medium
// n = none
// s = small
// a = auto

// Idea was originally adopted here: https://github.com/stubbornella/oocss

// Padding helpers

._ptn,
._pvn,
._pan { padding-top: 0 !important; }

._pts,
._pvs,
._pas { padding-top: ($base-padding / 4) !important; }

._ptm,
._pvm,
._pam { padding-top: $base-padding !important; }

._ptl,
._pvl,
._pal { padding-top: ($base-padding * 2) !important; }

._prn,
._phn,
._pan { padding-right: 0 !important; }

._prs,
._phs,
._pas { padding-right: ($base-padding / 4) !important; }

._prm,
._phm,
._pam { padding-right: $base-padding !important; }

._prl,
._phl,
._pal { padding-right: ($base-padding * 2) !important; }

._pbn,
._pvn,
._pan { padding-bottom: 0 !important; }

._pbs,
._pvs,
._pas { padding-bottom: ($base-padding / 4) !important; }

._pbm,
._pvm,
._pam { padding-bottom: $base-padding !important; }

._pbl,
._pvl,
._pal { padding-bottom: ($base-padding * 2) !important; }

._pln,
._phn,
._pan { padding-left: 0 !important; }

._pls,
._phs,
._pas { padding-left: ($base-padding / 4) !important; }

._plm,
._phm,
._pam { padding-left: $base-padding !important; }

._pll,
._phl,
._pal { padding-left: ($base-padding * 2) !important; }

// Margin helpers

._mtn,
._mvn,
._man,
._mrn,
._mhn,
._man { margin-top: 0 !important; }

._mts,
._mvs,
._mas { margin-top: ($base-spacing / 4) !important; }

._mtm,
._mvm,
._mam { margin-top: ($base-spacing / 2) !important; }

._mtl,
._mvl,
._mal { margin-top: $base-spacing !important; }

._mrn,
._mhn,
._man { margin-right: 0 !important; }

._mrs,
._mhs,
._mas { margin-right: ($base-spacing / 4) !important; }

._mrm,
._mhm,
._mam { margin-right: ($base-spacing / 2) !important; }

._mrl,
._mhl,
._mal { margin-right: $base-spacing !important; }

._mbn,
._mvn,
._man { margin-bottom: 0 !important; }

._mbs,
._mvs,
._mas { margin-bottom: ($base-spacing / 4) !important; }

._mbm,
._mvm,
._mam { margin-bottom: ($base-spacing / 2) !important; }

._mbl,
._mvl,
._mal { margin-bottom: $base-spacing !important; }

._mln,
._mhn,
._man { margin-left: 0 !important; }

._mls,
._mhs,
._mas { margin-left: ($base-spacing / 4) !important; }

._mlm,
._mhm,
._mam { margin-left: ($base-spacing / 2) !important; }

._mll,
._mhl,
._mal { margin-left: $base-spacing !important; }

._mra,
._mha { margin-right: auto !important; }

._mla,
._mha { margin-left: auto !important; }
