/**!
* UnderscoreCSS v0.1.0
* Copyright 2014 Christopher DeFelice
* UnderscoreCSS may be freely distributed under the MIT license.
*/

/* -----------------------------------------------------------------------------
   Images
   -------------------------------------------------------------------------- */

/**
 * Adjust layout of an image element.
 */

/**
 * Fluid image.
 *
 * Prevent image from overflowing from its containing box.
 * 1. Let height adjust to width and prevent stretching.
 * 2. Set maximum width relative to its containing box.
 */

._imgFluid {
  height: auto; /* 1 */
  max-width: 100%; /* 2 */
}

/**
 * Circular image.
 *
 * Will render the image as a circle.
 */

._imgCircle {
  border-radius: 50%;
}

/* -----------------------------------------------------------------------------
   Layout
   -------------------------------------------------------------------------- */

/**
 * Adjust the layout of an element.
 *
 * Layout helpers typically focus on these properties:
 *  `bottom`
 *  `clear`
 *  `clip`
 *  `display`
 *  `float`
 *  `left`
 *  `overflow`
 *  `position`
 *  `right`
 *  `top`
 *  `visibility`
 *  `z-index`
 */

/**
 * Center
 *
 * Center a box relative to its containg box.
 */

._centerBox {
  display: block;
  float: none !important;

  margin-left: auto;
  margin-right: auto;
}

/**
 * Clearfix: contain floats
 */

._cf:after {
  clear: both;
  display: table;

  content: "";
}

/**
 * Display
 */

._inline {
  display: inline;
}

._inlineBlock {
  display: inline-block;
}

._block {
  display: block;
}

._table {
  display: table;
}

._tableCell {
  display: table-cell;
}

/**
 * Positioning Scheme: Floats
 *
 * Position a box at the beginning or end of the current line.
 */

._pull { float: left; }
._push { float: right; }

/**
 * Overflow: clip content
 *
 * Render a new block formatting context.  Will prevent wrapping under
 * floated nodes.  Can contain floats and prevent overlapping of succeeding
 * nodes that are floated.
 */

._clipContent {
  overflow: hidden;
}

/* -----------------------------------------------------------------------------
   Lists
   -------------------------------------------------------------------------- */

/**
 * Adjust the presentation and layout of list elements (i.e. `ul`, `ol`, `li`).
 */

/**
 * Strip all styles from a list element.
 */

._listInline,
._listNoStyle {
  padding: 0;

  list-style: none;
}

/**
 * Inline list.
 *
 * Ajust `li` of a list element to align horizontally.
 *
 * 1. Remove whitespace b/w `inline-block` elements.
 * 2. Align `li` horizontally to sibling `li`.
 * 3. Reset `font-size` relative to body.
 */

._listInline {
  margin: 0;

  font-size: 0; /* 1 */
}

._listInline > li {
  display: inline-block; /* 2 */

  padding-left: 0.3125em;
  padding-right: 0.3125em;

  font-size: 1rem; /* 3 */
}

/* -----------------------------------------------------------------------------
   Offsets
   -------------------------------------------------------------------------- */

/**
 * Adjust the amount of left or right whitespace of an element.
 *
 * Percentage based offsets sized by divisibles of 2, 4, 5, 6, 7, 8, 10, or 12.
 */

/* Prepend
   -------------------------------------------------------------------------- */

._prepend1of12 {
  margin-left: 8.333333333333332%;
}

._prepend1of10 {
  margin-left: 10%;
}

._prepend1of8 {
  margin-left: 12.5%;
}

._prepend1of6,
._prepend2of12 {
  margin-left: 16.666666666666664%;
}

._prepend1of5,
._prepend2of10 {
  margin-left: 20%;
}

._prepend1of4,
._prepend2of8,
._prepend3of12 {
  margin-left: 25%;
}

._prepend3of10 {
  margin-left: 30%;
}

._prepend1of3,
._prepend2of6,
._prepend4of12 {
  margin-left: 33.33333333333333%;
}

._prepend3of8 {
  margin-left: 37.5%;
}

._prepend2of5,
._prepend4of10 {
  margin-left: 40%;
}

._prepend5of12 {
  margin-left: 41.66666666666667%;
}

._prepend1of2,
._prepend2of4,
._prepend3of6,
._prepend4of8,
._prepend5of10,
._prepend6of12 {
  margin-left: 50%;
}

._prepend7of12 {
  margin-left: 58.333333333333336%;
}

._prepend3of5,
._prepend6of10 {
  margin-left: 60%;
}

._prepend5of8 {
  margin-left: 62.5%;
}

._prepend2of3,
._prepend4of6,
._prepend8of12 {
  margin-left: 66.66666666666666%;
}

._prepend7of10 {
  margin-left: 70%;
}

._prepend3of4,
._prepend6of8,
._prepend9of12 {
  margin-left: 75%;
}

._prepend4of5,
._prepend8of10 {
  margin-left: 80%;
}

._prepend5of6,
._prepend10of12 {
  margin-left: 83.33333333333334%;
}

._prepend7of8 {
  margin-left: 87.5%;
}

._prepend9of10 {
  margin-left: 90%;
}

._prepend11of12 {
  margin-left: 91.66666666666666%;
}

/* Append
   -------------------------------------------------------------------------- */

._append1of12 {
  margin-right: 8.333333333333332%;
}

._append1of10 {
  margin-right: 10%;
}

._append1of8 {
  margin-right: 12.5%;
}

._append1of6,
._append2of12 {
  margin-right: 16.666666666666664%;
}

._append1of5,
._append2of10 {
  margin-right: 20%;
}

._append1of4,
._append2of8,
._append3of12 {
  margin-right: 25%;
}

._append3of10 {
  margin-right: 30%;
}

._append1of3,
._append2of6,
._append4of12 {
  margin-right: 33.33333333333333%;
}

._append3of8 {
  margin-right: 37.5%;
}

._append2of5,
._append4of10 {
  margin-right: 40%;
}

._append5of12 {
  margin-right: 41.66666666666667%;
}

._append1of2,
._append2of4,
._append3of6,
._append4of8,
._append5of10,
._append6of12 {
  margin-right: 50%;
}

._append7of12 {
  margin-right: 58.333333333333336%;
}

._append3of5,
._append6of10 {
  margin-right: 60%;
}

._append5of8 {
  margin-right: 62.5%;
}

._append2of3,
._append4of6,
._append8of12 {
  margin-right: 66.66666666666666%;
}

._append7of10 {
  margin-right: 70%;
}

._append3of4,
._append6of8,
._append9of12 {
  margin-right: 75%;
}

._append4of5,
._append8of10 {
  margin-right: 80%;
}

._append5of6,
._append10of12 {
  margin-right: 83.33333333333334%;
}

._append7of8 {
  margin-right: 87.5%;
}

._append9of10 {
  margin-right: 90%;
}

._append11of12 {
  margin-right: 91.66666666666666%;
}

/* -----------------------------------------------------------------------------
   Sizing
   -------------------------------------------------------------------------- */

/**
 * Adjust the width of the content area of an element.
 *
 * Percentage based values sized by divisibles of 2, 4, 5, 6, 7, 8, 10, or 12.
 */

._size1of12 {
  width: 8.333333333333332%;
}

._size1of10 {
  width: 10%;
}

._size1of8 {
  width: 12.5%;
}

._size1of6,
._size2of12 {
  width: 16.666666666666664%;
}

._size1of5,
._size2of10 {
  width: 20%;
}

._size1of4,
._size2of8,
._size3of12 {
  width: 25%;
}

._size3of10 {
  width: 30%;
}

._size1of3,
._size2of6,
._size4of12 {
  width: 33.33333333333333%;
}

._size3of8 {
  width: 37.5%;
}

._size2of5,
._size4of10 {
  width: 40%;
}

._size5of12 {
  width: 41.66666666666667%;
}

._size1of2,
._size2of4,
._size3of6,
._size4of8,
._size5of10,
._size6of12 {
  width: 50%;
}

._size7of12 {
  width: 58.333333333333336%;
}

._size3of5,
._size6of10 {
  width: 60%;
}

._size5of8 {
  width: 62.5%;
}

._size2of3,
._size4of6,
._size8of12 {
  width: 66.66666666666666%;
}

._size7of10 {
  width: 70%;
}

._size3of4,
._size6of8,
._size9of12 {
  width: 75%;
}

._size4of5,
._size8of10 {
  width: 80%;
}

._size5of6,
._size10of12 {
  width: 83.33333333333334%;
}

._size7of8 {
  width: 87.5%;
}

._size9of10 {
  width: 90%;
}

._size11of12 {
  width: 91.66666666666666%;
}

._sizeFull {
  width: 100%;
}

/* -----------------------------------------------------------------------------
   Skins
   -------------------------------------------------------------------------- */

/**
 * Skinnable helpers for adjusting HTML elements visually.
 */


/**
 * Background Emphasis.
 */

._bgGuide          { background-color: #d2ebf7; }
a._bgGuide:hover   { background-color: #a2d8f2; }

._bgDanger         { background-color: #edd5d5; }
a._bgDanger:hover  { background-color: #eaadad; }

._bgSuccess        { background-color: #dfedda; }
a._bgSuccess:hover { background-color: #c9eabe; }

._bgWarning        { background-color: #f9e0cf; }
a._bgWarning:hover { background-color: #fcd6bd; }


/* -----------------------------------------------------------------------------
   Spacing
   -------------------------------------------------------------------------- */

/**
 * Adjust the whitespace and padding around an element.
 *
 * Legend:
 * _<type><direction><size>
 *
 * Type:
 * m = margin
 * p = padding
 *
 * Direction:
 * a = all
 * b = bottom
 * h = horizontal
 * l = left
 * r = right
 * t = top
 * v = vertical
 *
 * Size:
 * l = large
 * m = medium
 * n = none
 * s = small
 *
 * Idea was originally adopted here: https://github.com/stubbornella/oocss
 */

/**
 * Padding helpers
 */

._ptn,
._pvn,
._pan { padding-top: 0 !important; }

._pts,
._pvs,
._pas { padding-top: 0.3125em !important; }

._ptm,
._pvm,
._pam { padding-top: 0.625em !important; }

._ptl,
._pvl,
._pal { padding-top: 1.25em !important; }

._prn,
._phn,
._pan { padding-right: 0 !important; }

._prs,
._phs,
._pas { padding-right: 0.3125em !important; }

._prm,
._phm,
._pam { padding-right: 0.625em !important; }

._prl,
._phl,
._pal { padding-right: 1.25em !important; }

._pbn,
._pvn,
._pan { padding-bottom: 0 !important; }

._pbs,
._pvs,
._pas { padding-bottom: 0.3125em !important; }

._pbm,
._pvm,
._pam { padding-bottom: 0.625em !important; }

._pbl,
._pvl,
._pal { padding-bottom: 1.25em !important; }

._pln,
._phn,
._pan { padding-left: 0 !important; }

._pls,
._phs,
._pas { padding-left: 0.3125em !important; }

._plm,
._phm,
._pam { padding-left: 0.625em !important; }

._pll,
._phl,
._pal { padding-left: 1.25em !important; }

/**
 * Margin helpers
 */

._mtn,
._mvn,
._man,
._mrn,
._mhn,
._man { margin-top: 0 !important; }

._mts,
._mvs,
._mas { margin-top: 0.375em !important; }

._mtm,
._mvm,
._mam { margin-top: 0.75em !important; }

._mtl,
._mvl,
._mal { margin-top: 1.5em !important; }

._mrn,
._mhn,
._man { margin-right: 0 !important; }

._mrs,
._mhs,
._mas { margin-right: 0.375em !important; }

._mrm,
._mhm,
._mam { margin-right: 0.75em !important; }

._mrl,
._mhl,
._mal { margin-right: 1.5em!important; }

._mbn,
._mvn,
._man { margin-bottom: 0 !important; }

._mbs,
._mvs,
._mas { margin-bottom: 0.375em !important; }

._mbm,
._mvm,
._mam { margin-bottom: 0.75em !important; }

._mbl,
._mvl,
._mal { margin-bottom: 1.5em !important; }

._mln,
._mhn,
._man { margin-left: 0 !important; }

._mls,
._mhs,
._mas { margin-left: 0.375em !important; }

._mlm,
._mhm,
._mam { margin-left: 0.75em !important; }

._mll,
._mhl,
._mal { margin-left: 1.5em !important; }

._mra,
._mha { margin-right: auto !important; }

._mla,
._mha { margin-left: auto !important; }

/* -----------------------------------------------------------------------------
   Text
   -------------------------------------------------------------------------- */

/**
 * Adjust the presentation and layout of textual content.
 *
 * Textual helpers typically address a 'Typographical Property':
 *  `color`
 *  `direction`
 *  `font`
 *  `font-family`
 *  `font-size`
 *  `font-style`
 *  `font-variant`
 *  `font-weight`
 *  `letter-spacing`
 *  `text-align`
 *  `text-decoration`
 *  `text-indent`
 *  `text-shadow`
 *  `text-transform`
 *  `vertical-align`
 *  `white-space`
 *  `word-spacing`
 *
 * NOTE: There are instances when other properties, such as layout and box
 * properties are used to achieve the desired presentation or layout.
 *
 * Example:
 *  .txtEllipsis
 *  .txtVisuallyHidden - This selector addresses no typographical properties,
 *  but is left here since it is a common technique to visually hide text
 *  while leaving it available for screenreaders.
 */

/**
 * Adjust text horizontally.
 */

._txtLeft    { text-align: left; }
._txtCenter  { text-align: center; }
._txtRight   { text-align: right; }
._txtJustify { text-align: justify; }

/**
 * Ajust text vertically.
 */

._txtTop      { vertical-align: top; }
._txtMiddle   { vertical-align: middle; }
._txtBottom   { vertical-align: bottom; }
._txtBaseline { vertical-align: baseline; }

/**
 * Text Ellipsis
 *
 * Add an ellipsis '...' to text that is prevented from wrapping onto
 * multiple lines.
 */

._txtEllipsis {
  overflow: hidden;

  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

/**
 * Text importance.
 */

._txtGuide          { color: #1ba1e2; }
a._txtGuide:hover   { color: #11597a; }

._txtNeutral        { color: #999; }
a._txtNeutral:hover { color: #555; }

._txtDanger         { color: #e51400; }
a._txtDanger:hover  { color: #720a01; }

._txtSuccess        { color: #60a917; }
a._txtSuccess:hover { color: #37600e; }

._txtWarning        { color: #fa6800; }
a._txtWarning:hover { color: #a54403; }

/**
 * Word breaking
 *
 * Unbreakable words may be broken and wrap to next line.
 */

._txtBreak {
  word-wrap: break-word;
}

/**
 * Sizing treatments.
 *
 * Limit the amount of font-size delcarations.
 *
 * github.com/stubbornella/csslint/wiki/Don't-use-too-many-font-size-declarations
 */

._txtSmall  { font-size: 75%; }
._txtMedium { font-size: 85%; }
._txtLarge  { font-size: 150%; }

/**
 * Transform treamtemnt.
 */

._txtUpcase {
  text-transform: uppercase;
}

/**
 * Hide text visually but leave available for screenreaders: h5bp.com/v.
 */

._txtVisuallyHidden {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;

  border: 0;
  height: 1px;
  padding: 0;
  width: 1px;
}

/**
 * Collapse whitespace and suppress line breaks.
 */

._txtNoWrap {
  white-space: nowrap;
}
