// ----------------------------------------------------------------------------
// Mixins: Center box
// ----------------------------------------------------------------------------

@mixin _center-box {
  display: block;
  float: none !important;

  margin-left: auto;
  margin-right: auto;
}
