// ----------------------------------------------------------------------------
// Mixins: Center box
// ----------------------------------------------------------------------------

@mixin _center-box {
  display: block !important;
  float: none !important;

  margin-left: auto !important;
  margin-right: auto !important;
}
