// ----------------------------------------------------------------------------
// Mixins: Clearfix
// ----------------------------------------------------------------------------

// Clearfix: contain floats.

@mixin _clearfix {
  &:after {
    clear: both !important;
    display: table !important;

    content: "" !important;
  }
}
