// ----------------------------------------------------------------------------
// Mixins: Text Ellipsis
// ----------------------------------------------------------------------------

// Add an ellispsis '...' to text.

// 1. Force HTML element to render as `block` element.
// 2. Set `max-width` on HTML element to perform truncation of text.
// 3. IE 8/9 fix when parent node has `word-wrap: break-word`.
//    @resource: https://github.com/chriseppstein/compass/issues/941

@mixin _text-ellipsis {
  display: block !important; // 1
  overflow: hidden !important;

  max-width: 100% !important; // 2

  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; // 3
}
